{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{%static 'icon/favicon.ico'%}"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
	<title>
		Verified For Jetwrie
	</title>
</head>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Ubuntu&display=swap');
    @import url('https://v1.fontapi.ir/css/Sahel');
    .img-no-copy{
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

</style>
<body style="background-image:  linear-gradient(to right,#f5ffba,#ffb8f4,#e3f2fd,#e3f2fd,#e3f2fd,#e3f2fd); font-size: 20px;">
	
	<nav class="navbar navbar-expand-lg" style="" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{link}}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
</svg></a>
     
      </div>
  </nav>

  	<div style="margin-top:80px;">
  		<p style="text-align: center; font-family: 'Ubuntu', sans-serif;">Hello, send message to our Telegram ID to be Verified
  			<br>
  			<span>Telegram id: qt_w8</span>
  		</p>
  		<p style="text-align: center; font-family: 'Ubuntu', sans-serif;"><img class="img-no-copy" src="{%static 'icon/tickblue.svg'%}" alt="Blue Tick" width="25"> {{user.username}} - You must be a well-known person</p>
  		<p style="text-align: center; font-family: 'Ubuntu', sans-serif;"><img class="img-no-copy" src="{%static 'icon/goldentick.svg'%}" alt="Golden Tick" width="25">
       {{user.username}} - You have to pay 10$ a month for golden tick and thousand tomans if you are in Iran</p>
  		<p style="text-align: center; font-family: 'Ubuntu', sans-serif;"><img class="img-no-copy" src="{%static 'icon/blackctick.png'%}" alt="Black Tick" width="25"> {{user.username}} - The black tick is for admins only</p>

  		

  	</div>
  	<div>
  			<a href="https://t.me/qt_w8" class="btn" style="background-image:  linear-gradient(to right,#f5ffba,#ffb8f4,#e3f2fd,#e3f2fd,#e3f2fd,#e3f2fd);  list-style-type: none;
  			padding: 16px;
  margin: 0;
 
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  ">Get</a>	  		
  		</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>


