{% load i18n %}
{% load comment_tags %}
<form class="js-comment-delete-form m-0" data-url="{% if comment %}{% url 'comment:delete' pk=comment.id %}{% endif %}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title comment-translatable">{% block title %}{% trans "Delete" %}{% endblock title %}</h5>
        <button type="button" class="modal-close-btn mr-auto ml-0 " aria-label="{% trans "Close" %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
</svg>
        </button>
    </div>
    <div class="modal-body">
        <p class="lead comment-translatable">{% block content %}{% trans "Delete" %}{% endblock content %} <strong>«{{ comment.content|slice:":25" }}»</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="comment-translatable modal-cancel-btn ml-2 {% block close_btn_cls %}btn btn-secondary{% endblock close_btn_cls %}" data-dismiss="modal">{% trans "close" %}</button>
        <input name="model_name" value="{{model_name}}" hidden>
        <input name="model_id" value="{{model_id}}" hidden>
        <input name="app_name" value="{{app_name}}" hidden>
        <input name="isParent" value="{{comment.is_parent}}" hidden>
        <input name="oauth" value="{{oauth}}" hidden>
        <button id="modal-btn" type="submit" class="{% block del_btn_cls %}btn btn-danger{% endblock del_btn_cls %}">
            <span class="comment-translatable">{% trans "Delete" %}</span>
        </button>
    </div>
</form>
