<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404 Not found</title>
</head>
<body style="background-image:  linear-gradient(to right,#f5ffba,#ffb8f4,#e3f2fd,#e3f2fd,#e3f2fd,#e3f2fd); font-size: 20px; font-family: 'Ubuntu', sans-serif;">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Ubuntu&display=swap');

	</style>
	<center>
		404

		<a href="{%url 'home'%}" style="color:#2377ff;text-decoration: none;">Go to Home</a>

		<br>
		jetwrie{{request.path}} Not found
	</center>
</body>
</html>